#root {
  color:black;
}
#header{
  height: 200px;
  padding: 10px 0;
}
img{
  width: 200px;
}
.movies-card{
  margin-top: 200px;
}
span{
  color: white;
}
#brand_name{
  margin-left: 1rem;
  font-size: 2rem;
}

